body {
      margin: 0;
      padding: 0;
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    .outer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      background-color: hsl(212, 45%, 89%);
    }

    .main,
    .header,
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-wrap: wrap;
      text-align: center;
      width: 288px;
    }

    .main {
      background-color: white;
      padding: 1rem;
      border-radius: 5%;
      box-shadow: 2px 2px 10px rgba(123, 135, 157, 0.363);
    }

    .footer {
      box-sizing: border-box;
      margin: 1rem 0.5rem 0;
      padding: 0.5rem;
    }

    .footer h1 {
      font-weight: 700;
      font-style: normal;
      font-size:24px;
      color: hsl(218, 44%, 22%);
      margin: 0 0 0.5rem;
    }

    .footer p {
      font-weight: 500;
      font-size: 15px;
      color: rgba(123, 135, 157, 0.836);
    }

    .image img {
      width: 100%;
      border-radius: 5%;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
